<html>
  <head>
    <title>{{ .title }}</title>
  </head>
  <body>
    <h1>{{ .title }}</h1>
    <h3>{{ .message }}</h3>
    <form action="/" method="post">
      <input type="text" name="message"></input>
    </form>
  </body>
</html>
